<p id="notice"><%= notice %></p>
<div class="container rounded text-center m-auto" id="reservations-container">
  <h1 class="text-center display-5">Reservations</h1>
  <hr>
  <div class="row m-4 rounded text-center">
    <div class="col-md-4 rounded-start borders">
      <h4> Room </h4>
    </div>
    <div class="col-md-5 borders">
      <h4> Subject [attendees] </h4>
    </div>
    <div class="col-md-3 borders">
      <h4> Date </h4>
    </div>
  </div>
  <%= render 'reservations_list', reservations: @reservations %>
</div>
<%= link_to 'New Reservation',  new_reservation_path %>


