// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/	

#reservation-container {
	background-color: rgba(248, 249, 250, 0.75);
	height: 100%;
	main {
		height: 80%;
		display: grid;
		align-content: center;
		.card {
			overflow: scroll;
			.card-body {
				form {
					label {
						font-size: 150%;
						&:after {
							content: ": "
						}
					}
					input	{
						min-width: 75%;
					}
					select, input {
						text-align: left !important;
						background-color: lightgray;
						padding: 0.5rem;
						margin: 0.5rem 0;
						border-radius: 0.5rem;
						border: none;
					}
				}
				.submmit-reservation {
					background-color: #0d6efd;
					border-radius: 0.25rem;
					padding: 0.65rem;
				}
			}
		}
	}
}

#reservations-container {
	background-color: rgba(248, 249, 250, 0.75);
	border-radius: 1rem;
	.row {
		.borders
		{
			cursor: pointer;
			padding: 0.5rem;
			h4 {
				padding: 0.5rem;
				border-radius: 0.5rem;
				border: solid;
				&:hover {
					background-color: rgba(200, 200, 200, 0.6);
				}
			}
		}
	}
	.card {
		&:hover .col-bg {
			background-color: rgba(0, 0, 0, 0.25) !important;
		}
	}
}