// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/	

#reservations-container {
	background-color: rgba(248, 249, 250, 0.8);
	border-radius: 1rem;
	.row {
		.borders
		{
			cursor: pointer;
			padding: 0.5rem;
			h4 {
				padding: 0.5rem;
				border-radius: 0.5rem;
				border: solid;
				&:hover {
					background-color: rgba(200, 200, 200, 0.6);
				}
			}
		}
	}
	.card {
		&:hover .col-bg {
			background-color: rgba(0, 0, 0, 0.25) !important;
		}
	}
}