// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#room-container {
	background-color: rgba(0, 0, 0, 0.4);
	min-width: 80vw;
	min-height: 100vh;
	#room-reservations-container {
		max-height: 60vh;
		display: block;
		overflow: scroll;
	}
	.row {
		.card-edit {
			height: 100%;
		}
		.card {
			background-color: rgba(248, 249, 250, 0.8);
			&:hover {
				background-color: rgba(248, 249, 250, 0.95);
			}
		}
	}
}
#rooms-container {
	background-color: rgba(248, 249, 250, 0.9);
	border-radius: 0 0 1rem 1rem;
	#form1 {
		.pop-up-schedule {
			display: none;
			background: rgba(190, 210, 255, 0.9);
			border-radius: 0.5rem;
			position: fixed;
			top: 50%;
			left: 50%;
			text-align: center;
			z-index: 11;
			transform: translate(-50%, -50%);
			padding: 3rem;
			width: 90vw;
			min-height: 50vh;
			form{
				height: 50vh;
				input {
					width: 60%;
					padding: 1rem;
					margin: 1rem;
				}
				textarea {
					width: 80%;
					min-height: 50px;
					max-height: 30vh;
					padding: 1rem;
					margin: auto;
				}
			}
		}
	}
	.room-card {
		.room-card-reservations {
			display: none;
			hr {
				margin: 0 !important;
			}
			.reservation-flex {
				&:hover {
					background-color: rgba(0, 0, 0, 0.05) !important;
				}
			}
		}
		button {
			&:hover {
				background-color: rgba(0, 0, 0, 0.05) !important;
			}
		}
		&:hover {
			background-color: rgba(0, 0, 0, 0.05) !important;
		}
	}
	&:hover {
		background-color: rgba(248, 249, 250, 0.95);
	}
}